# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
* Overview on most used Languages in data science.
* Commonly used libraries by Data scientists.
* Some of the Data Science tools explored.
* Few arithmetic operations are perforemed
* Lastly, time conversions are also done.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
* Numpy
* Pandas
* Scikit-Learn
* Seaborn
* Matplotlib

|Data Science Tools|
|:------------------|
|Apache Spark|
|Apache Hadoop|
|KNIME|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
# This a simple arithmetic expression to mutiply then add integers
z=(3*4)+5
print(z)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

y= 200/60

print("200 minutes in hours is",y)

200 minutes in hours is 3.3333333333333335

## Author

Poovarasan Rajendiran